body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

/* navbar */
nav {
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 0px 150px;
  height: 56px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

h3.logo {
  display: flex;
  color: #1a1a1a;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

ul.menu {
  margin-block-start: 0px;
  margin-block-end: 0px;
  color: #5e5e5e;
  font-size: 1rem;
  line-height: 1.5rem;
  list-style-type: none;
  display: flex;
}

li.menu {
  padding: 16px 14px;
  flex: none;
  cursor: pointer;
}

li.menu:hover {
  background-color: #f4f4f4;
}

.menu a {
  text-decoration: none;
  color: #5e5e5e;
}

/* dropdown */
.dropdown {
  position: relative;
}

.dropdown a {
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #ffffff;
  list-style: none;
}

.dropdown.open .dropdown-menu {
  display: flex;
  min-width: 13rem;
  justify-content: center;
  align-items: center;
  padding-inline-start: 0px;
}

.dropdown-menu li {
  padding: 16px 14px;
}

.dropdown-menu li:hover {
  background-color: #f4f4f4;
}

.dropdown-menu a {
  width: 100%;
  color: #5e5e5e;
  text-decoration: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* section */
section {
  max-width: 100%;
  height: fit-content;
  padding: 50px 120px;
  background-color: #ffffff;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h2.sec-title {
  width: 100%;
  padding: 25px 0px;
  text-align: center;
  color: #1a1a1a;
  flex: 1 1 auto;
  justify-content: center;
}

/* our values */
.values {
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* value card */
.value-card {
  width: 25%;
  min-height: 10rem;
  border: solid 2px transparent;
  display: block;
  position: relative;
  padding: 35px;
}

.value-card.red {
  background-color: #e97C6f;
  border-color: #e35246;
}

.value-card.green {
  background-color: #6a996f;
  border-color: #577c59;
}

.value-card.blue {
  background-color: #5596c2;
  border-color: #386e92;
}

.pointer:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 100%;
  border-style: solid;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-right: 0;
}

.pointer.red:after {
  border-left: 20px solid #e35246;
}

.pointer.green:after {
  border-left: 20px solid #577c59;
}

.value-content {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}

.img {
  width: auto;
  height: 28px;
}

h3.value-content {
  color: #ffffff;
  width: 100%;
  margin: 12px 0px;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

p.value-content {
  color: #ffffff;
  width: 100%;
  margin: 20px 0px;
  text-align: center;
}

/* contact us */
.contact-us {
  width: 100%;
  display: flex;
  justify-content: center;
}

form {
  width: 28rem;
}

.form-input {
  width: 100%;
  margin-bottom: 15px;
}

label {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: bold;
  text-align: left;
}

input, textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 6px;
  border: 1px solid #cccccc;
}

.error-message {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #e35246 !important;
}

input:invalid, textarea:invalid {
  border-width: 1px;
  border-color: #e35246 !important;
}

input.error, textarea.error {
  border-width: 1px;
  border-color: #e35246 !important;
}

input:hover, textarea:hover {
  border-width: 1px;
  border-color: #5596c2;
}

button[type="submit"] {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 0px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #5596C2;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

/* footer */
footer {
  width: 100%;
  min-height: 8rem;
  background-color: #2d2d2d;
  color: #ffffff;
  padding-top: 10px;
}

.footer-content {
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  text-align: center;
}

.footer-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0px 5px;
}

/* slider */
.slider {
  width: 100%;
  padding-top: 56px;
}

.slides {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.image {
  flex: 0 0 100%;
  display: none;
}

.image.active {
  display: block;
  overflow: hidden;
}

.slide-text {
  width: 45%;
  position: absolute;
  box-sizing: border-box;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding: 20px 35px 20px 20px;
  margin: 160px;
}

.slide-text h2 {
  margin: 0;
}

.slide-btn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.prev,
.next {
  border: solid 1px #ffffff;
  border-radius: 100%;
  color: #ffffff;
  font-size: 20px;
  padding: 6px 15px 8px 15px;
  cursor: pointer;
  z-index: 1;
}

.slide-bullets {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  bottom: 40px;
}

.bullet {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 3px;
  cursor: pointer;
}

.bullet.active {
  background-color: #ffffff;
}